.userMessageListSectionMasterContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100%;
  width: 20%;
  padding: 0 10px;
  background-color: #1976d2 !important;
  color: white;
  border-radius: 10px !important; ;
}

.userSearchBarConatiner {
  width: 100%;
  max-width: 100%;
  color: white !important;
}

.mychatsHeader {
  font-size: 25px;
  font-weight: 700;
  color: white;
  text-align: left;
  width: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userChatsListContainer {
  width: 100%;
}

.userChatCard {
  padding: 10px;
  margin: 10px 0px;
  height: 60px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.userChatCard:hover {
  background-color: #68a5e1 !important;
  color: white;
}

.chatUserNameContaiener {
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
  width: 75%;
}

.messageCardDetailContainer {
  display: flex;
  flex-direction: column;
}

.latestMessageContainer {
  font-size: 12px;
}