.scrollableFeedContainer {
  height: 100% !important;
  /* background-color: #; */
  background-image: url(../../../../images/chatBackground.jpg);
  background-clip: border-box;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.typingIndicator {
  display: flex;
  align-items: center;
  position: relative;
}

.typingIndicator > img {
  position: absolute;
  top: 5px;
  /* border: 2px solid red; */
}