.masterHomePageContainer {
    display: flex;
    width: 100%;
    justify-content: center;
}

.masterPostsCardContainer {
    width: 65%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.masterUserListContainer {
    width: 25% !important;
    max-height: 60vh;
    overflow-y: auto;
    margin-top: 5vh;
    display: flex;
    /* border: 2px solid red; */
    justify-content: center;
}

.homePageShimmersContainer {
    display: flex;
    width: 100%;
    justify-content: center;
}

.homePageShimmers {
    width: 60%;
}

.userListShimmer {
    width: 25% !important;
    margin: 5vh 0 0 5vh;
    height: 43vh;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: start; */
    /* flex-direction: column; */
    /* margin-left: 5vw !important; */
    /* border: 2px solid red; */
}